li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 960px;
    margin: auto;
    width: 50%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: blue;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size:1.2rem;
    font-weight:600;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
}
.nav-link{
    font-size: 1rem;
    padding: 4px 8px;
    color: white
}
.menu{
    margin-top: 9%;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    width: 50%;
    padding-bottom: 10rem;
}
.menu-content{
    color: black;
    position: relative;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-text{
    width: 50%;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}